{% extends 'base.html' %}
{% block title %}
<title> Calendar and Holidays  </title>
{% endblock %}

{% block content %}

<div class="flex flex-col justify-center items-center mb-12">
  <p class="text-3xl text-blue-400 mt-8"> Calendar  </p>
  <div class="flex flex-col">
    <p class="text-xl text-purple-700 mt-8"> September  </p>
    <div class="flex justify-between">
      <p class="text-lg text-blue-400 mt-8"> September 5  </p>
      <p class="text-lg text-blue-400 mt-8"> Student Registration  </p>
    </div>
    <div class="flex justify-between">
      <p class="text-lg text-blue-400 mt-8"> September 15  </p>
      <p class="text-lg text-blue-400 mt-8"> Fall Registration for New students</p>
    </div>
    <div class="flex justify-between">
      <p class="text-lg text-blue-400 mt-8"> September 20  </p>
      <p class="text-lg text-blue-400 mt-8"> Fall Classes Begin</p>
    </div>
    <div class="flex justify-between">
      <p class="text-lg text-blue-400 mt-8"> September 25  </p>
      <p class="text-lg text-blue-400 mt-8"> Last Day for Tuition Adjustment </p>
    </div>
    <div class="flex justify-between">
      <p class="text-lg text-blue-400 mt-8"> September 26  </p>
      <p class="text-lg text-blue-400 mt-8"> Last day to add/change classesx</p>
    </div>
    
    <p class="text-xl text-purple-700 mt-8"> October </p>

    <div class="flex justify-between">
      <p class="text-lg text-blue-400 mt-8"> October 20  </p>
      <p class="text-lg text-blue-400 mt-8"> Classes Continue  </p>
    </div>

    <div class="flex justify-between">
      <p class="text-lg text-blue-400 mt-8"> October 28  </p>
      <p class="text-lg text-blue-400 mt-8"> Last day to drop a class for fall </p>
    </div>


    <div class="flex justify-between">
      <p class="text-lg text-blue-400 mt-8"> October 31  </p>
      <p class="text-lg text-blue-400 mt-8"> Winter quarter courses viewable in portal </p>
    </div>

    <p class="text-xl text-purple-700 mt-8"> November </p>
    <div class="flex justify-between">
      <p class="text-lg text-blue-400 mt-8"> November 7  </p>
      <p class="text-lg text-blue-400 mt-8"> Preregistration for winter quarter begins </p>
    </div>

    <div class="flex justify-between">
      <p class="text-lg text-blue-400 mt-8"> November 11  </p>
      <p class="text-lg text-blue-400 mt-8"> Last day for undergraduates to change grading status </p>
    </div>

    <div class="flex justify-between">
      <p class="text-lg text-blue-400 mt-8"> November 23  </p>
      <p class="text-lg text-blue-400 mt-8"> Thanksgiving vacation begins </p>
    </div>

    
    <div class="flex justify-between">
      <p class="text-lg text-blue-400 mt-8"> November 28  </p>
      <p class="text-lg text-blue-400 mt-8"> Fall classes Resume </p>
    </div>
    
    <p class="text-xl text-purple-700 mt-8"> December </p>
    <div class="flex justify-between">
      <p class="text-lg text-blue-400 mt-8"> December 3  </p>
      <p class="text-lg text-blue-400 mt-8"> Fall classes End </p>
    </div>

    <div class="flex justify-between">
      <p class="text-lg text-blue-400 mt-8"> December 5  </p>
      <p class="text-lg text-blue-400 mt-8"> Fall examinations Begin </p>
    </div>

    <div class="flex justify-between">
      <p class="text-lg text-blue-400 mt-8"> December 10  </p>
      <p class="text-lg text-blue-400 mt-8"> Fall examinations End </p>
    </div>


    <div class="flex justify-between">
      <p class="text-lg text-blue-400 mt-8"> December 16  </p>
      <p class="text-lg text-blue-400 mt-8"> Fall Degress Conferred </p>
    </div>
  </div>
</div>
{% endblock content %}
