{% extends 'base.html' %}
{% block title %}
<title> Staff  </title>
{% endblock %}

{% block content %}

<div class="flex flex-col justify-center items-center">
  <p class="text-3xl text-blue-400 mt-8"> Staff </p>
  <p class="mt-6"> We have lots of staff who are always ready and willing to serve in all the categories below </p>  
</div>

<div class="flex flex-col justify-center items-center">
  <div class="flex justify-around w-1/2">
    <div class="flex flex-col">
      <p class="text-xl text-blue-400 mt-8"> Employment Information </p>
    </div>
    
    <div class="flex flex-col">
      <p class="text-xl text-blue-400 mt-8"> Campus Resources </p>
    </div>
    
    <div class="flex flex-col">
      <p class="text-xl text-blue-400 mt-8"> Administrative Services </p>
    </div>
    
  </div>
</div>
{% endblock content %}
